* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #111111;
    --grey-light: #1E2020;
    --light-blue: #267cfe;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--grey);
    overflow-x: hidden;
}

/* START NAVBAR*/
.navbar {
    background-color: var(--grey-light);
    height: 5rem;
    width: 100%;
    z-index: 1000;
}

.logo {
    height: 3.8rem;
    width: auto;
}

.navbar-nav {
	margin-right: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.nav-link {
    color: white !important;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
    margin: 0 0.8rem 0 0.8rem;
}

.nav-link:hover {
    transform: scale(1.05);
    color: var(--light-blue) !important;

}
/* END NAVBAR*/

/* START JUMBOTRON*/
.jumbotron {
    padding-left: 3rem;
    background-color: var(--grey);
    height: calc(100vh - 5rem);
    width: 100%;
    color: white;
    position: relative;
    background-image: url(../image/wave-haikei.svg);
    background-size: cover;
    background-position: center top 65%;
    overflow: hidden;
}

.title-jumbotron {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

.img-jumbotron {
    height: 80%;
    position: absolute;
    top: 2rem;
    right: 7rem;
    transform: rotate(8deg);
}

.caption-jumbotron {
    width: 50%;
}

.btn-jumbotron {
    width: 10rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* END JUMBOTRON*/

/* START ABOUT*/
.about-container {
    width: 100%;
    height: auto;
    background-color: var(--grey);
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 3rem;
    font-size: 2.3rem;
}

.about-img {
    height: 800px;
}

.about-information {
    color: white;
    width: 38vw;
    height: auto;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-left: 2rem;
    background-color: #101010;
    box-shadow: 8px -8px 12px 0 rgba(0, 0, 0, 0.3),
    -12px 12px 16px rgba(28, 28, 28, 0.4);
}

.about-caption {
    text-align: center;
    margin: 1.2rem;
    color: white;
}

.about-foot-note {
    color: white;
    font-size: 1rem;
    padding: 0 1.25rem 0 1.25rem;
}

.about-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
    font-size: 1.2rem;
    padding-left: 3rem;
    list-style: none;
}
/* END ABOUT*/

/* START FEATURES*/
.features-container {
    margin-top: 2.5rem;
    background-color: white;
}

.features-title {
    color: var(--grey);
    font-weight: 600;
    text-align: center;
    font-size: 2.3rem;
    padding-top: 3rem;
    width: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
}

.card-features{
    border: none;
    margin: 2rem;
    width: 18rem;
    background-color: transparent;
}

.card-img {
    width: 7rem;
}

.card-text {
    font-size: 1.1rem;
}

.serie-features-container {
    width: 90%;
    margin: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-serie {
    margin-top: 1rem;
    margin-left: 3rem;
    width: 50%;
}
/* END FEATURES*/


/* START REVIEWS */
.reviews-container {
    margin-top: 3rem;
}

.reviews-title {
    color: white;
    text-align: center;
}

.reviews-container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.name {
    color: var(--light-blue);
}

.row {
    width: 100%;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: var(--grey-light);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: var(--grey-light);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}
/* END REVIEWS */


/* START CONTACT */
.form {
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 40%;
}

textarea {
    font-size: 1rem;
    width: 400px;
    border: none;
    padding: 5px;
    margin: 8px;
}

.form__title {
    font-weight: 600;
    text-align: center;
    margin: 50px 0 40px 0;
    color: white;
    font-size: 2rem;
}

.form__name, .form__email, .form__message {
    color: #fff;
    font-size: 16px;
    width: 90%;
    height: 30px;
    border: 0;
    padding: 5px;
    margin: 8px;
    background: transparent;
    border-bottom: 1px solid var(--light-blue);
    outline: none;
}

.form__message {
    height: 100px;
}

.form__submit {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 6px;
    border: 1px solid var(--light-blue);
    margin: 1.2rem;
    background: var(--light-blue);
    width: 8rem;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
}
/* END CONTACT */

/* START FOOTER */
footer {
position: absolute;
font-size: 10pt;
padding-top: 3px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: var(--grey-light);
width: 100%;
height: 7rem;
text-align: center;
}

footer .icono__footer {
width: 30px;
height: 30px;
margin-top: .6rem;
fill: white;
}

footer .texto__footer {
margin-top: 0.5rem;
}
/* END FOOTER */


/* START MEDIA QUERYS */
@media only screen and (max-width: 992px) {

#navbarNav {
    padding: 1rem;
    background-color: var(--grey-light);
}

.col-lg-4 {
    margin-top: 40px;
    margin-bottom: 20px;
}
}


@media only screen and (max-width: 1024px){
    

.title-jumbotron {
    font-size: 5rem;
}

.img-jumbotron {
    height: 80%;
    top: 15vh;
    right: 1rem;
    transform: rotate(15deg);
}

.caption-jumbotron {
    width: 60%;
    margin-bottom: 1.25rem;
}
/* END JUMBOTRON*/

/* START ABOUT*/
.about-container {
    width: 100%;
}

.about-content {
    flex-direction: column-reverse;
    margin: auto;
    width: 90%;
}

.about-title {
    margin-bottom: 2rem;
}

.about-img {
    height: 80vw;
    transform: rotate(-10deg);
}

.about-information {
    width: 90%;
    padding: 2rem;
    margin-left: 0;
}

.about-foot-note {
    font-size: .9rem;
}

.about-list {
    font-size: 1rem;
}
/* END ABOUT*/

/* START FEATURES*/

.serie-features-container {
    padding: 1.25rem;
    width: 90%;
    flex-direction: row;
    padding-bottom: 2rem;
}

.img-serie {
    margin: 0 0 0 2rem;
    width: auto;
    height: 350px;
}
/* END FEATURES*/

/* START FORM */
.form {
    width: 80%;
}
/* END FORM */

}


@media only screen and (max-width: 768px){
    
.jumbotron {
    padding: 2rem;
    background-color: var(--grey);
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title-jumbotron {
    font-size: 4rem;
}

.img-jumbotron {
    height: 70%;
    top: 25vh;
    right: 1rem;
}

.caption-jumbotron {
    width: 90%;
    background-color: rgba(12, 12, 12, 0.5);
}
/* END JUMBOTRON*/

/* START ABOUT*/
.about-container {
    width: 100%;
}

.about-content {
    flex-direction: column-reverse;
    margin: auto;
    width: 90%;
}

.about-title {
    margin-bottom: 2rem;
}

.about-img {
    height: 80vw;
    transform: rotate(-10deg);
}

.about-information {
    width: 90%;
    padding: 2rem;
    margin-left: 0;
}

.about-foot-note {
    font-size: .9rem;
}

.about-list {
    font-size: 1rem;
}
/* END ABOUT*/

/* START FEATURES*/

.features-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
}

.card-features {
    margin: 0 0 1.25rem 0;
    width: 100%;
    flex-direction: column;
}

.card-text {
    margin: auto;
    width: 60%;
}

.card-img {
    width: 9rem;
}

.serie-features-container {
    padding: 1.25rem;
    width: 90%;
    flex-direction: column;
}

.serie-features-content-container {
    flex-direction: column;
}

.serie-features-content {
    margin-top: 1.25rem;
}

.img-serie {
    margin: auto;
    width: auto;
    height: 250px;
}
/* END FEATURES*/

/* START FORM */
.form {
    width: 80%;
}
/* END FORM */
}

@media only screen and (max-width: 425px){

.jumbotron {
    padding: 2rem;
    background-color: var(--grey);
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title-jumbotron {
    font-size: 2.5rem;
}

.img-jumbotron {
    height: 50%;
    top: 42vh;
    right: 1rem;
}

.caption-jumbotron {
    width: 90%;
    background-color: rgba(12, 12, 12, 0.5);;
}
/* END JUMBOTRON*/

/* START ABOUT*/
.about-container {
    width: 100%;
}

.about-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.about-title {
    font-size: 2rem;
}

.about-img {
    margin-top: 2rem;
    height: 400px;
}

.about-information {
    width: 100%;
    
}

.about-foot-note {
    font-size: .9rem;
}

.about-list {
    font-size: .9rem;
}
/* END ABOUT*/

/* START FEATURES*/

.features-title {
    font-size: 2rem;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
}

.card-features {
    margin: 0 0 1.25rem 0;
    width: 100%;
    flex-direction: column;
}

.card-img {
    width: 7rem;
}

.serie-features-container {
    padding: 1.25rem;
    width: 90%;
    flex-direction: column;
}

.serie-features-content-container {
    flex-direction: column;
}

.serie-features-content {
    margin-top: 1.25rem;
}

.img-serie {
    margin: auto;
    width: auto;
    height: 250px;
}
/* END FEATURES*/

/* START FORM */
.form {
    width: 80%;
}
/* END FORM */

}

/* END MEDIA QUERYS */